<div class="search-box row-fluid form-inline">
<form name="customerForm" id="customerForm" method="post">
  <label>
  <h3>Add New Customer</h3>
  </label>
  <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <label>Name: </label>
  <input type="text" style="width:60%"  ng-model="newCustomer.name" required  />
  <br />
  <label>Description: </label>
  <textarea rows="10" style="width:60%"  ng-model="newCustomer.description" required  ></textarea>
  <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button data-ng-click="addCustomer();" class="btn btn-default" >Add New Customer</button>
</form>  
</div>
