<div class="search-box row-fluid form-inline">
  <label>Filter: </label>
  <input type="text" ng-model="filterText"/>
  <label>Order by: </label>
  <select ng-model="sortorder" class="input-medium">
    <option value="name">Ascending</option>
    <option value="-name">Descending</option>
  </select>
</div>
<div class="results-top"></div>
<div class="results-container">
  <ul class="episode-list"  >
    <li class="ng-scope" data-ng-repeat = "cust in customers | filter:filterText | orderBy:sortorder ">
      <div class="row-fluid">
        <div class="span12">
          <h3 class="ng-binding">{{ cust.name }}</h3>
          <p class="ng-binding">{{ cust.description }}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="results-bottom"></div>
